<div class="container d-flex align-items-center justify-content-around my-5">
  <div>
    <h1>Welcome to STAGEIT</h1>
  <p>
      Rent premium event items with STAGEIT.<br>
      Affordable, reliable rentals for unforgettable events.<br>
      Make your event extraordinary today!<br>
  </p>

    <% if current_user %>
    <%= link_to "Browse Items",  items_path, class: "btn btn-primary" %>
    <% else %>
    <%= link_to "Login to Browse Our Collection",  new_user_session_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= image_tag "homepage.png", alt: "STAGEIT LOGO", width: 400 %>
</div>
